<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-3 filter">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-center">All Filter</h6>
                </div>
            </div>
        </div>
        <div class="col-6 job">
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> Angular
                                                Developer </h6><a>dwdwddwdw</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo" src=" "></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Fresher </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 3-8 </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> 8114788416 </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> Angular Developer ...</span>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> flutter
                                                developer </h6><a>Wipro</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo"
                                        src="https://youtu.be/q1V9fpxlrLI?si=aTYucIIIqU5UotEm"></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Fresher </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 23.5 </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> Kolkata </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> flutter developer ...</span>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> figma developer
                                            </h6><a>Wipro</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo"
                                        src="https://youtu.be/q1V9fpxlrLI?si=aTYucIIIqU5UotEm"></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Experience </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 11 </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> hyd </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> figma developer ...</span>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> Fulstack
                                                developer </h6><a>codefirst01</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo" src="Codefirst pune">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Experienced </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 20 </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> 123498411057
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> Fulstack developer ...</span>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> Angular
                                                Developer 12 </h6><a>TCS Pune</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo" src="tcspune@gmail.com">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Experienced </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 12000 </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> Pune </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> Angular Developer 12 ...</span>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> Software
                                                Developer </h6><a>employer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo" src=""></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Experienced </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 1000 </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> Beirut </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> Software Developer ...</span>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> Mechanical
                                                Engineer </h6><a>BMW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo" src=""></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Experienced </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 1500 </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> Berlin </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> Mechanical Engineer ...</span>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> Tester </h6><a>BMW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo" src=""></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Experienced </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 200 </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> Hamburg </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> Tester ...</span></div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> Senior Software
                                                Developer </h6><a>company</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo" src=""></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Experienced </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 1 </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> Beirut </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> Senior Software Developer
                                        ...</span></div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> Janitor </h6><a>company</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo" src=""></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Fresher </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> Janitor ...</span></div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;"> .NET Developer +
                                                Angular </h6><a>Conf</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end"><img alt="" class="compo_logo" src="LogoUrl.com"></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><i aria-hidden="true" class="fa fa-suitcase"></i> Fresher </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-inr"></i> 5-6 LPA </div>
                                <div class="col-4"><i aria-hidden="true" class="fa fa-map-marker"></i> Baroda </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12"><i aria-hidden="true" class="fa fa-file-text-o"></i><span
                                        class="text-muted"> .NET Developer + Angular
                                        ...</span></div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6"><small>Few
                                        Hours Ago</small></div>
                                <div class="col-6 text-end"><i aria-hidden="true" class="fa fa-bookmark"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!---->
            <div class="col-3 filter">
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-center">Top Companies Hiring</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>