<div class="parent">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Entrar</h1>
                <input type="email" [(ngModel)]="loginObj.UserName" name="UserName" placeholder="Usuário" />
                <input type="password" [(ngModel)]="loginObj.Password" name="Password" placeholder="Senha" />
                <button (click)="onLogin()">Entrar</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Ainda não tem uma conta?</h1>
                    <p>Cadastre-se agora mesmo</p>
                </div>
            </div>
        </div>
    </div>
</div>