<section class="h-100 h-custom">
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-1 pb-2 pb-md-0 px-md-2 text-center">Registration</h3>
                        <form novalidate="" class="px-md-2 ng-untouched ng-pristine ng-valid">
                            <div class="row pb-2">
                                <div class="col-12 text-center">
                                    <div class="btn-group">
                                        <button type="button" (click)="isJobSeeker = true" class="btn" [ngClass]="isJobSeeker? 'btn-success':'btn-primary'">Are you a Job Seeker</button>
                                        <button type="button" (click)="isJobSeeker = false" class="btn" [ngClass]="!isJobSeeker? 'btn-success':'btn-primary'">Register As An Employer</button></div>
                                </div>
                            </div>

                            <!-- B U S C A N D O   V A G A -->                            
                            <div>
                                <div *ngIf="isJobSeeker">
                                    <div class="form-outline mb-1">
                                        <input type="text" [(ngModel)]="jobSeekerObj.FullName" name="FullName"
                                            class="form-control ng-untouched ng-pristine ng-valid" />
                                        <label for="form3Example1q" class="form-label">Full Name</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-1">
                                            <div class="form-outline datepicker">
                                                <input type="text" name="EmailId" [(ngModel)]="jobSeekerObj.EmailId"
                                                    class="form-control ng-untouched ng-pristine ng-valid" />
                                                <label for="exampleDatepicker1" class="form-label">Email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-1">
                                            <div class="form-outline datepicker"><input type="text" name="MobileNo"
                                                    [(ngModel)]="jobSeekerObj.MobileNo"
                                                    class="form-control ng-untouched ng-pristine ng-valid" /><label
                                                    for="exampleDatepicker1" class="form-label">Mobile</label></div>
                                        </div>
                                        <div class="col-md-4 mb-1">
                                            <div class="form-outline datepicker">
                                                <select name="ExperienceStatus" class="form-control" [(ngModel)]="jobSeekerObj.ExperienceStatus">
                                                    <option value="" selected disabled>Select Status</option>
                                                    <option value="Fresher">Fresher</option>
                                                    <option value="Experienced">Experienced</option>
                                                </select>
                                                <label for="form3Example1q" class="form-label">Experience</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-1">
                                        <input type="text" [(ngModel)]="jobSeekerObj.ResumeUrl" name="ResumeUrl"
                                            class="form-control ng-untouched ng-pristine ng-valid" />
                                        <label for="form3Example1q" class="form-label">Resume Url</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button (click)="registerJobSeeker()" class="btn btn-success btn-lg mb-1">Register</button></div>
                                    </div>
                                </div>

                                <!-- E M P R E S A  -->
                                <div *ngIf="!isJobSeeker">
                                    <div class="form-outline mb-1">
                                        <input type="text" [(ngModel)]="employerObj.CompanyName" name="CompanyName"
                                            class="form-control ng-untouched ng-pristine ng-valid" />
                                        <label for="form3Example1q" class="form-label">Company Name</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-1">
                                            <div class="form-outline datepicker">
                                                <input type="text" name="EmailId" [(ngModel)]="employerObj.EmailId"
                                                    class="form-control ng-untouched ng-pristine ng-valid" />
                                                <label for="exampleDatepicker1" class="form-label">Email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-1">
                                            <div class="form-outline datepicker"><input type="text" name="MobileNo"
                                                    [(ngModel)]="employerObj.MobileNo"
                                                    class="form-control ng-untouched ng-pristine ng-valid" /><label
                                                    for="exampleDatepicker1" class="form-label">Mobile</label></div>
                                        </div>
                                        <div class="col-md-4 mb-1">
                                            <div class="form-outline datepicker"><input type="text" name="PhoneNo" [(ngModel)]="employerObj.PhoneNo"
                                                    class="form-control ng-untouched ng-pristine ng-valid" /><label
                                                    for="exampleDatepicker1" class="form-label">Phone</label></div>
                                        </div>
                                    </div>
                                    <div class="row mb-1 pb-2 pb-md-0">
                                        <div class="col-md-6">
                                            <div class="form-outline"><input type="text" name="LogoURL" [(ngModel)]="employerObj.LogoURL"
                                                    class="form-control ng-untouched ng-pristine ng-valid" /><label
                                                    for="form3Example1w" class="form-label">Company Logo Url</label></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline"><input type="text" name="GstNo" [(ngModel)]="employerObj.GstNo"
                                                    class="form-control ng-untouched ng-pristine ng-valid" /><label
                                                    for="form3Example1w" class="form-label">GST No</label></div>
                                        </div>
                                    </div>
                                    <div class="row mb-1 pb-2 pb-md-0">
                                        <div class="col-md-4">
                                            <div class="form-outline"><input type="text" name="City" [(ngModel)]="employerObj.City"
                                                    class="form-control ng-untouched ng-pristine ng-valid" /><label
                                                    for="form3Example1w" class="form-label">City</label></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-outline"><input type="text" name="State" [(ngModel)]="employerObj.State"
                                                    class="form-control ng-untouched ng-pristine ng-valid" /><label
                                                    for="form3Example1w" class="form-label">State</label></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-outline"><input type="text" name="PinCode" [(ngModel)]="employerObj.PinCode"
                                                    class="form-control ng-untouched ng-pristine ng-valid" /><label
                                                    for="form3Example1w" class="form-label">Pin-Code</label></div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-1"><textarea name="CompanyAddress" [(ngModel)]="employerObj.CompanyAddress" rows="3"
                                            class="form-control ng-untouched ng-pristine ng-valid"></textarea><label
                                            for="form3Example1q" class="form-label">Address</label></div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button (click)="register()" class="btn btn-success btn-lg mb-1">Register</button></div>
                                    </div>
                                </div>

                            </div>
                            <!---->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>